

{% extends 'home.html' %}

{% comment %}  HYOFANG LUY MARSHALL
 DJOMATCHOUA WAMENI Ange Manuela
 
 DJEUMO LEUNA Jemima {% endcomment %}

{% block content %}
  <div class="container-client">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active fs-8 fw-bold font-family-sans-serif text-uppercase" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Creation des Pains</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link fs-8 fw-bold font-family-sans-serif text-uppercase" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Liste Pains</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <div class="corps mt-3">
          {% for message in messages %}
            <p class="alert alert-success mt-3">{{ message }}</p>
          {% endfor %}

          {% if melange %}
            <form method="post" action="{% url 'update_pain' pain.id_pain %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-6">
                  <div class="mb-4">
                    <label for="prix_pain_ht" class="title">Prix du pain</label>
                    <input type="text" value="{{ pain.prix_pain_ht }}" id="name" name="name" class="form-control" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="mb-4">
                    <label for="description" class="title">Description</label>
                    <textarea class="form-control" id="description" name="description" cols="50" rows="8">{{ pain.description }}</textarea>
                  </div>
                </div>
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">mettre a jour un pain</button>
              </div>
            </form>
          {% else %}
            <form method="post" action="{% url 'add_pain' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-6">
                  <div class="mb-4">
                    <label for="prix_pain_ht" class="title">Prix du pain</label>
                    <input type="number" id="prix_pain_ht" name="prix_pain_ht" class="form-control" required />
                  </div>
                </div>
                <div class="col-6">
                  <label for="grade" class="title">Sélectionnez idMelange</label>
                  <select class="form-select" id="melange" name="melange" aria-label="Sélectionnez une option">
                    <option disabled>Sélectionnez un melange</option>
                    {% for i in melange_liste %}
                      <option value="{{ i.id_melange }}" >{{ i.id_melange }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="mb-4">
                    <label for="description" class="title">Description</label>
                    <textarea class="form-control" id="description" name="description" cols="50" rows="8">{{ pain.description }}</textarea>
                  </div>
                </div>
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Creer un Pain</button>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
      <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        <div class="corps mt-3">
          <div class="mt-5">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">N.</th>
                  <th scope="col">Prix Pains</th>
                  <th scope="col">Description</th>
                  <th scope="col">EDIT</th>
                  <th scope="col">DELETE</th>
                </tr>
              </thead>
              <tbody>
                {% for i in pain_liste %}
                  <tr>
                    <td>{{ i.prix_pain_ht }}</td>
                    <td>{{ i.id_pain }}</td>
                    <td>{{ i.description }}</td>
                    <td>
                      <a href="{% url 'edit_pain' i.id_pain %}" class="btn btn-primary">modifier</a>
                    </td>
                    <td>
                      <a href="{% url 'delete_pain' i.id_pain %}" class="btn btn-primary">supprimer</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
